{% extends '__base__.html' %}
{% block content %}
<body>
  <h1>Twoje rezerwacje</h1>
  {% if reservations %}
    <ul class="reservation-table">
      {% for reservation in reservations %}
        <li>
          <ul>
            <li>Data: {{ reservation.date }}</li>
            <li>Czas: {{ reservation.time }}</li>
            <li>Kategoria usługi:
              {% for category_service in reservation.category_service.all %}
                {{ category_service.name }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </li>
            <li>Pracownik: {{ reservation.staff }}</li>
            <li>Usługa:
              {% for service in reservation.service.all %}
                {{ service.name }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </li>
                <a class="login-button" href="/update_reservation/{{ reservation.id }}">Zmień date wiyty</a>
                <a class="delete-button" href="/delete_reservation/{{ reservation.id }}">Usun rezervację</a>
          </ul>
        </li>

      {% endfor %}
    </ul>
  {% else %}
    <p class="no-reservation">Brak rezerwacji dla tego użytkownika</p>
  {% endif %}
</body>
{% endblock %}